[Service]
Environment="KUBELET_EXTRA_ARGS=--cloud-provider=external --network-plugin=cni --node-ip={{ private_ip }} --node-labels={{ lookup('vars', hostvars[inventory_hostname].group_names[1] + '_labels')|join(',') }}"