# Hetzner HCloud Project API Token
hetzner_token: XXXXxxxxxXXxxx...
# Hetzner DNS API Token - see https://dns.hetzner.com/settings/api-token
hetzner_dns_token: ""
# Public SSH Keys to connect instances with ssh
ssh_authorized_keys:
  - ssh-rsa AAAAB3XXXXXxxxx== gammpamm@example.com
# Datacenter Name
datacenter: fsn1
# Master and Worker Server Types
master_servertype: cx11-ceph
worker1_servertype: cx11-ceph
worker2_servertype: cx11-ceph
worker3_servertype: cx11-ceph
worker4_servertype: cx11-ceph
# enable/disable loadbalancer
lb_enabled: "true"
# enable/disable ingress
ingress_enabled: "true"

# Loadbalancer type
lb_type: lb11
# Loadbalancer Datacenter Name
lb_datacenter: nbg1
# Loadbalancer hostname
lb_hostname: lb.example.org
# Count Worker Nodes
worker1_count: 1
worker2_count: 0
worker3_count: 0
worker4_count: 0
# Add node labels (key=value) per worker type
worker1_labels:
  - "node.kubernetes.io/type=worker1"
worker2_labels:
  - "node.kubernetes.io/type=worker2"
worker3_labels:
  - "node.kubernetes.io/type=worker3"
worker4_labels:
  - "node.kubernetes.io/type=worker4"
# Domain for master, workers and lb. (rDNS, Hostname)
domain: example.com
# Tested 1.15.5 and 1.16.2 and 1.17.4
kubenetes_version: 1.17.4
local_kube_context_path: /home/<YOUR-USER>/.kube
cert_email: user@sample.org
# vSwitch configuration - see https://docs.hetzner.com/robot/dedicated-server/network/vswitch/
vswitch_enabled: "false"
vswitch_id: 0
# DNS Auto-Configuration is enabled
dns_enabled: "false"
# The DNS zone name
dns_zone_name: ""
# A comma-separated List of A-Entries for the loadbalancer (if not empty, hetzner_dns_token is needed)
dns_lb_a: ""